
<footer class="site-footer">
  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

        <ul class="contact-list">
            <li>
            <i>get in touch with me via email:</i>
            </li>
						<p>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">xan@discolovers</a></li>
            {% endif %}
        </ul>

      </div>


      <!-- <ul class="footer-col footer-col-2">
        <ul class="social-media-list">


        </ul>
      </ul>

      <ul class="footer-col footer-col-3">  -->



      </ul>
    </div>

  </div>

</footer>
